body {
    background: rgb(146, 36, 36);
    margin-left: 30px;
    margin-right: 100;
 
} <!--Plano de fundo para o elemento body e criei margem também-->
header{
    margin-top: 70px;
} criando margem na vertical para o cabeçalho

h1{
color:red;
font-family: fantasy;} mudei cor e fonte do titulo h1

h2{
    font-family: fantasy;
}

p{
    font-size: 18px;
} ajustei o tamanho da fonte dos paragrafos

footer{
    margin-bottom: 30px;
}
img{
    margin-bottom:20px ;
} margem abaixo do elemento

.serviço{
    margin bottom: 20px;
    width:300px;

} o ponto identifica a classe